openapi: 3.0.1
info:
  title: DQV (Dataset, Query and Validate) API
  description: |-
    *Dataset, Query and Validate API is a unified API that will provide the following functionality:* <ul><li>Fetches the entire dataset.</li> <li>Fetches the results of the query applied on the single dataset.</li> <li>Fetches the results of the query applied on the two datasets (CROSS JOIN).</li> <li>Validates the query applied.</li> <li>Arithmetic Operations(addition, subtraction, multiplication and division) can be performed within a dataset.</li> <li>Aggregate Operations(Count, Average, Max, Median, Min, StdDev, and Sum) can be performed within a dataset.</li> <li>Geometric Operations(Area, Buffer, Centroid, Distance and Intersection) can be performed within a dataset as well as between 2 user-defined geometries.</li> <li>Order By with query applied on the dataset.</li> <li>Group By with query applied on the dataset.</li> <li>Order By and Group By with query applied on the dataset.</li> <li>Order By on the entire dataset.</li> <li>Group By  on the entire dataset.</li> <li>Order By and Group By  on the entire dataset.</li> <li>Geometric function (length and area) with query on single route.</li> <li> Geometric function (length and area) without query on single route.</li></ul><br><br><hr><br>![MapmyIndia logo](https://www.mapmyindia.com/api/img/mapmyindia-api.png)

    On a Mission to <b>"Make our world better through maps, location technologies & IoT"</b>, MapmyIndia is continuously enabling real time hyper-local information access through its map & location services. mGIS APIs are a part of mGIS platform and the document describes APIs usage and specifications for their integration into an application. The document covers :
    <ul><li>List of APIs along with use cases</ul></li> 
    <ul><li>Explanation of resources and query parameters</ul></li>
    <ul><li>Listing of response structure and data type</ul></li>

    ## Important notes
     <ul><li><b>URLs</b>: the urls to use for UAT and Production are:  <ul><li>
     <b>Production</b>:
    <code>https://mgis-api.mapmyindia.com/</code></li><li>
     <b>UAT</b>:<code>https://mgis-preprod.mapmyindia.in/</code><li> To call our API, the
    endpoint requires access-token authorization and the <code>access-token</code> needs to be entered. For example <code>https://mgis.mapmyindia.in/query_validation </code> <br> Pass header as <code>Authorization:Bearer access_token</code>   </li> </ul> <li>For any issues or questions please submit it to our support : <a href="mailto:apisupport@mapmyindia.com" target="_blank">API Support</a>.  If you have some non-technical or commercial queries, contact your service account manager</li></ul>
  contact:
    name: MapmyIndia API Support
    url: https://www.mapmyindia.com/api/#f_cont
    email: apisupport@mapmyindia.com
  termsOfService: https://www.mapmyindia.com/api/terms-&-conditions
  version: V1.0.0
  license:
    name: Revised BSD-3 Clause
    url: https://github.com/MapmyIndia/
tags:
  - name: Dataset, Query and Validate (DQV) API
    description: DQV API is used to fetch the entire dataset, fetch the results of the query applied on the dataset and validate the query applied.
servers:
  - url: https://mgis-api.mapmyindia.com/
    description: Production server for mGIS APIs
  - url: https://mgis-preprod.mapmyindia.in/
    description: UAT server for mGIS APIs testing
paths:
  /getDataset:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Fetches the entire dataset.
      description: Fetches the entire dataset. You can perform 'order(sort) By' and 'groupBy' in 'query'. This has 3 cases:<li>Only Order By</li> <li>Only Group By</li> <li>Both Order By and Group By together</li>
      operationId: getDatasetId
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/groupByDatasetParam'
        - $ref: '#/components/parameters/propertyNameParam'
        - $ref: '#/components/parameters/orderByDatasetParam'
        - $ref: '#/components/parameters/orderByPropertyDatasetParam'
        - $ref: '#/components/parameters/startIndexParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/bboxParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasetRes'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
      deprecated: false
  /query_apply/single:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Fetches the  results of the query applied on the single dataset. You cannot pass query, summerizeValue and uniqueValue paramater together.
      description: You cannot pass query, summerizeValue and uniqueValue paramater together. You can perform 'order(sort) By' and 'groupBy' in 'query'. This has 3 cases:<li>Only Order By</li> <li>Only Group By</li> <li>Both Order By and Group By together</li><br> You can perform geometric operation (area and length) when queryType = 'functionBased' is passed. The query parameter is an optional paramater in this case. summerizeValue and uniqueValue paramater are not applicable in this case.
      operationId: applyQuerySingleId
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/queryTypeSingleParam'
        - $ref: '#/components/parameters/queryParam'
        - $ref: '#/components/parameters/uniqueValueParam'
        - $ref: '#/components/parameters/summerizeValueParam'
        - $ref: '#/components/parameters/groupByParam'
        - $ref: '#/components/parameters/propertyNameParam'
        - $ref: '#/components/parameters/orderByParam'
        - $ref: '#/components/parameters/orderByPropertyParam'
        - $ref: '#/components/parameters/propertyNameSingleParam'
        - $ref: '#/components/parameters/comparisonFunctionSingleParam'
        - $ref: '#/components/parameters/comparisonOperatorSingleParam'
        - $ref: '#/components/parameters/comparisonValueSingleParam'
        - $ref: '#/components/parameters/saveAsNewDatasetSingleParam'
        - $ref: '#/components/parameters/newDatasetNmeSingleParam'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/startIndexParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/bboxParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_applySingle'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '405':
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject405'
        '409':
          description: Conflict in parameters passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject409'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
      deprecated: false
  /query_apply/join:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Fetches the results of the query applied between two dataset as well as between one datset and user defimed geometry.
      description: User can performed both the following tasks:<li>Non Spatial Query</li><li>Spatial Query</li><br>For spatial query user can perform the query between 2 datasets as well as between one dataset and user defined geometry in geojson format. Whereas Non-Spatial Query is only applicable between 2 datasets.
      operationId: applyQueryCrossId
      parameters:
        - $ref: '#/components/parameters/queryTypeParam'
        - $ref: '#/components/parameters/datasetSourceParam'
        - $ref: '#/components/parameters/datasetRefParam'
        - $ref: '#/components/parameters/operatorParam'
        - $ref: '#/components/parameters/sourcePropertyParam'
        - $ref: '#/components/parameters/refPropertyParam'
        - $ref: '#/components/parameters/selectionParamSourceParam'
        - $ref: '#/components/parameters/selectionParamRefParam'
        - $ref: '#/components/parameters/userGeom'
        - $ref: '#/components/parameters/distanceJoin'
        - $ref: '#/components/parameters/Geometry'
        - $ref: '#/components/parameters/comparisonFunctionParam'
        - $ref: '#/components/parameters/comparisonOperatorParam'
        - $ref: '#/components/parameters/comparisonValueParam'
        - $ref: '#/components/parameters/saveAsNewDataset'
        - $ref: '#/components/parameters/newDatasetNme'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_applyCross'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject401'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '405':
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject405'
        '409':
          description: Conflict in parameters passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject409'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
      deprecated: false
  /query_validation:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Validates the query to be applied on a dataset.
      description: Validates the query to be applied on a dataset.
      operationId: queryValidateId
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/query1Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateQueryRes'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
      deprecated: false
  /arithmeticOperation:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Performs arithmetic operations on 2 columns of a dataset passed as an input.
      description: Performs arithmetic operations on 2 columns of a dataset passed as an input.
      operationId: airthematicOperationId
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/col1Param'
        - $ref: '#/components/parameters/col2Param'
        - $ref: '#/components/parameters/airthoperatorname'
        - $ref: '#/components/parameters/selectionParamSourceParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/airthmeticoperation'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /aggregate:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Perform aggregate operation on a single dataset
      description: Perform aggregate operation on a single dataset
      operationId: aggregateOperationId
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/columnname'
        - $ref: '#/components/parameters/operationname'
        - $ref: '#/components/parameters/singlePASS'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregateoperation'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /geometricFunction:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Performs geometric operations.
      description: Performs geometric operations between two user-defined geometry as well as within the dataset. <br>The geometric opertaions available for user defined geometry are (the brackets consists of the parameters to be passed while using the geometric function):<li>Area (geom1)</li><li>Centroid (geom1)</li><li>Buffer (geom1, distance)</li><li>Intersection (geom1, geom2)</li><li>Distance (geom1, geom2)<li>isEmpty (geom1)</li><li>length (geom1)</li><li>endPoint (geom1) (has to be a lineString or multiLineString)</li><br>The geometric opertaions available for within dataset are:<li>Area (geom1)</li><li>Centroid (geom1)</li><li>Buffer (geom1, distance)</li><li>isEmpty (geom1)</li><li>length (geom1)</li><li>endPoint (geom1) (has to be a lineString or multiLineString)</li>
      operationId: geometricFunctionID
      parameters:
        - $ref: '#/components/parameters/functionNameGeom'
        - $ref: '#/components/parameters/datasetNmeParamGeom'
        - $ref: '#/components/parameters/userGeomGeom'
        - $ref: '#/components/parameters/Geometry1Geom'
        - $ref: '#/components/parameters/Geometry2Geom'
        - $ref: '#/components/parameters/distance'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasetArea'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /getBoundingBox:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Returns the BoundingBox of the particular layer.
      description: Returns the Bounding Box of the particular layer without cql_filter and returns the bounding box of feature with cql_filter.
      operationId: BoundingBoxID
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/queryParam11'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBoundingBoxRes'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /getGeometry:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Returns the geometry of the particular layer on the basis of the featureID provided by the user.
      description: Returns the geometry of the particular layer on the basis of the featureID or filter provided by the user.(Any one of the filter or featureID can be provided)
      operationId: GetGeometryID
      parameters:
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/featureIDParam'
        - $ref: '#/components/parameters/filterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGeometryRes'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectGetgeom400'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /expression:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Performs arithmetic,geometric,aggregate and string operations on column(s) of a dataset passed as an input.
      description: Performs arithmetic,string,geometric and aggregate operations on a column of a dataset passed as an input.<br>Arithmetic operations are +, -, *, /. <br> String operations are concat, lower, upper, initcap, replace, length, substring. <br> Geometric operations are area,length,latitude,longitude,centroid. <br> Aggregate operations are count,min,max,median,stddev,sum,avg.
      operationId: expressionId
      parameters:
        - $ref: '#/components/parameters/queryType'
        - $ref: '#/components/parameters/datasetNmeParam'
        - $ref: '#/components/parameters/operator'
        - $ref: '#/components/parameters/col'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/new_column'
        - $ref: '#/components/parameters/exp_filter'
        - $ref: '#/components/parameters/delimiter'
        - $ref: '#/components/parameters/oldData'
        - $ref: '#/components/parameters/newData'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/steps'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/expressionoperation'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
  /catchement_query/join:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Fetches the results of the query applied between two dataset as well as between one datset and user defimed geometry.
      description: User can performed both the following tasks:<li>Non Spatial Query</li><li>Spatial Query</li><br>For spatial query user can perform the query between 2 datasets as well as between one dataset and user defined geometry in geojson format. Whereas Non-Spatial Query is only applicable between 2 datasets.
      operationId: catchement_queryId
      requestBody:
        required: 'true'
        $ref: '#/components/requestBodies/objSave'
      parameters:
        - $ref: '#/components/parameters/queryTypeParamCatchment'
        - $ref: '#/components/parameters/datasetSourceParam'
        - $ref: '#/components/parameters/datasetRefParam'
        - $ref: '#/components/parameters/operatorParamCatchment'
        - $ref: '#/components/parameters/sourcePropertyParam'
        - $ref: '#/components/parameters/refPropertyParam'
        - $ref: '#/components/parameters/selectionParamSourceParam'
        - $ref: '#/components/parameters/selectionParamRefParam'
        - $ref: '#/components/parameters/userGeom'
        - $ref: '#/components/parameters/distanceJoin'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_applyCross'
        '206':
          description: Impartial Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject206'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject401'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '405':
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject405'
        '409':
          description: Conflict in parameters passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject409'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
      deprecated: false
  /dblink:
    get:
      tags:
        - Dataset, Query and Validate (DQV) API
      summary: Performs basic and spatial operations on different datasets in different databases passed as an input.
      description: Performs basic and spatial operations on different datasets in different databases passed as an input.<br>
      operationId: db_linkId
      parameters:
        - $ref: '#/components/parameters/ref_tableNme'
        - $ref: '#/components/parameters/src_tableNme'
        - $ref: '#/components/parameters/src_column'
        - $ref: '#/components/parameters/ref_column'
        - $ref: '#/components/parameters/dboperator'
        - $ref: '#/components/parameters/queryType'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/distanceJoin'
        - $ref: '#/components/parameters/filterColumn'
        - $ref: '#/components/parameters/filterValue'
        - $ref: '#/components/parameters/src_cnd_clmn'
        - $ref: '#/components/parameters/ref_cnd_clmn'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/db_link'
        '400':
          description: Bad Request, User made an error while creating a valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '404':
          description: No data found in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon404'
        '422':
          description: Parameter missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObjectCommon'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject500'
components:
  requestBodies:
    objSave:
      content:
        application/json:
          schema:
            type: object
            properties:
              geometry:
                type: object
                properties:
                  coordinates:
                    description: updated geomtery coordinates.<br><br>Case-1 multipoint {"geometry":{"coordinates":[500000,54505678]}}</br><br>Case-2 multipolygon {"geometry":{"coordinates":[[[76.55555,24.046464],[76.552734,28.844674],[83.056641,28.844674],[83.056641,24.046464],[76.55555,24.046464]]]}}</br><br>Case-3 multiline {"geometry":{"coordinates":[[500000,54505678],[0,540000],[5450000,0]]}}
          example:
            geometry:
              coordinates:
                - - 500000
                  - 54505678
                - - 0
                  - 540000
                - - 5450000
                  - 0
  parameters:
    datasetNmeParam:
      name: datasetNme
      in: query
      description: The dataset name of whose information has to be fetched.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: india
    queryParam11:
      name: query
      in: query
      description: the cql_filter to be applied on the layer.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: id=256
    saveAsNewDataset:
      name: saveAsNewDataset
      in: query
      description: Boolean if true cross join result will be saved in to db as new table.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: true
    newDatasetNme:
      name: newDatasetNme
      in: query
      description: Name of new Table(mandatory if saveAsNewDataset = true)
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: JoinTable
    datasetNmeParamGeom:
      name: datasetNme
      in: query
      description: The dataset on which geometric operation has to be performed. It is mandatory in case of performing geometric operations within the datset.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: geo
    functionNameGeom:
      name: functionNme
      in: query
      description: 'Geometric operators which are acceptable are: <li>For user defined geometry: <b>intersection, area, buffer, distance, centroid, isEmpty, length and endPoint</b> <li>For within the dataset: <b>area, buffer, centroid, isEmpty, length and endPoint</b>'
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: area
    distance:
      name: distance
      in: query
      description: Mandatory in case when opertaor used is Buffer, else it is not required.
      schema:
        type: number
      example: 10
    distanceJoin:
      name: distance
      in: query
      description: Mandatory in case of operator DWithin, else it is not required.
      schema:
        type: number
      example: 10
    Geometry1:
      name: geom1
      in: query
      description: user defined geometry in terms of geoJSON
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: |-
        {
        "type": "Polygon",
        "coordinates": [
        [
        [
        75.9375,
        23.725011735951796
        ],
        [
        78.92578124999999,
        23.725011735951796
        ],
        [
        78.92578124999999,
        26.115985925333536
        ],
        [
        75.9375,
        26.115985925333536
        ],
        [
        75.9375,
        23.725011735951796
        ]
        ]
        ]
        }
    Geometry1Geom:
      name: geom1
      in: query
      description: user defined geometry in terms of geoJSON. It is mandatory in case of user-defined geometry for all the geometric opertaions.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: |-
        {
        "type": "Polygon",
        "coordinates": [
        [
        [
        75.9375,
        23.725011735951796
        ],
        [
        78.92578124999999,
        23.725011735951796
        ],
        [
        78.92578124999999,
        26.115985925333536
        ],
        [
        75.9375,
        26.115985925333536
        ],
        [
        75.9375,
        23.725011735951796
        ]
        ]
        ]
        }
    Geometry2:
      name: geom2
      in: query
      description: user defined geometry in terms of geoJSON(mandatory in case of  user defined geom for intersection and distance)
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: '{ "type": "Polygon", "coordinates": [ [ [ 75.9375, 23.725011735951796 ], [ 78.92578124999999, 23.725011735951796 ], [ 78.92578124999999, 26.115985925333536 ], [ 75.9375, 26.115985925333536 ], [ 75.9375, 23.725011735951796 ] ] ] }'
    Geometry2Geom:
      name: geom2
      in: query
      description: user defined geometry in terms of geoJSON. It is mandatory in case of user-defined geometry for distance and intersection geometric opertaions.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: '{ "type": "Polygon", "coordinates": [ [ [ 75.9375, 23.725011735951796 ], [ 78.92578124999999, 23.725011735951796 ], [ 78.92578124999999, 26.115985925333536 ], [ 75.9375, 26.115985925333536 ], [ 75.9375, 23.725011735951796 ] ] ] }'
    columnname:
      name: columnname
      in: query
      description: column name on which the aggregate operation has to be performed
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: anzee
    operationname:
      name: operation
      in: query
      description: aggregate operators which are acceptable are Count, Average, Max, Median, Min, StdDev and Sum
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: Median
    singlePASS:
      name: singlePass
      in: query
      description: If TRUE computes all aggregation values in a single pass. Its default value is set true
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      example: true
    firstgeom:
      name: geom1
      in: query
      description: user defined geometry in terms of geoJSON
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: null
    col:
      name: col
      in: query
      description: Single/Multiple column names on which the querytype operations has to be performed. In case of Querytype Geometric and geometric operators and String Operator(substring) single column value is required.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: district,bank
    col1Param:
      name: col1
      in: query
      description: column name on which the airthmetic operations has to be performed.
      required: true
      allowEmptyValue: false
      schema:
        type: integer
      example: district
    col2Param:
      name: col2
      in: query
      description: column name on which the airthmetic operations has to be performed.
      required: true
      allowEmptyValue: false
      schema:
        type: integer
      example: district
    airthoperatorname:
      name: operator
      in: query
      description: Arithmetic operators which are acceptable +, -, *, /
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: +
    propertyNameParam:
      name: propertyName
      in: query
      description: Pass the column names list which you want to display in the resultant. Optional in case of order(sortBy). Mandatory in case of 'groupBy'.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: street,poi
    startIndexParam:
      name: startIndex
      in: query
      description: To set the start index from which the user wants the result to be displayed. Applicable for 'query', 'uniqueValue' and 'summerizeValue'.
      required: false
      allowEmptyValue: false
      schema:
        type: number
      example: 1
    groupByParam:
      name: groupBy
      in: query
      description: Pass ‘true’ to perform groupBy on the datsetNme. Applicable for 'query'. 'propertyName' paramter is mandatory for 'groupBy' parameter.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: 'true'
    groupByDatasetParam:
      name: groupBy
      in: query
      description: Pass ‘true’ to perform groupBy on the datsetNme. 'propertyName' paramter is mandatory for 'groupBy' parameter.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: 'true'
    orderByParam:
      name: sortBy
      in: query
      description: Pass ‘A' for ascending and ‘D’ for descending to perform order(sort) By. Applicable for all. Mandatory when order(sort) By is to be performed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: A
    orderByDatasetParam:
      name: sortBy
      in: query
      description: Pass ‘A' for ascending and ‘D’ for descending to perform order(sort) By. Mandatory when order(sort) By is to be performed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: A
    orderByPropertyParam:
      name: sortByProperty
      in: query
      description: Pass the column names which the user wants to order(sort) By in the resultant. Applicable for 'query'. Mandatory when order(sort) By is to be performed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: poi,street
    orderByPropertyDatasetParam:
      name: sortByProperty
      in: query
      description: Pass the column names which the user wants to order(sort) By in the resultant. Mandatory when order(sort) By is to be performed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: poi,street
    countParam:
      name: count
      in: query
      description: To fix the number of results to be returned. Applicable for 'query', 'uniqueValue' and 'summerizeValue'.
      required: false
      allowEmptyValue: false
      schema:
        type: number
      example: 3
    bboxParam:
      name: bbox
      in: query
      description: Returns the bounding box of the dataset if set as true.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: 'false'
    queryParam:
      name: query
      in: query
      description: Query to be applied on the dataset. Mandatory if uniqueValue, summerizeValue and queryType parameter is not passed. This is an optional paramter when queryType = 'functionBased' is passed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: st_name='Andhra Pradesh'
    query1Param:
      name: query
      in: query
      description: Query to be applied on the dataset. Mandatory if uniqueValue and summerizeValue parameter is not passed.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: st_name='Andhra Pradesh'
    uniqueValueParam:
      name: uniqueValue
      in: query
      description: Unique values of a attribute of the dataset. Mandatory if query and summerizeValue parameter is not passed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: st_name
    summerizeValueParam:
      name: summerizeValue
      in: query
      description: Summerize values of a attribute of the dataset. Mandatory if query and uniqueValue parameter is not passed.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: st_name
    sortByParam:
      name: sortBy
      in: query
      description: Sort the result in ascending(A) or descending(D) order. Applicable for 'orderBy', 'groupBy', 'uniqueValue' and 'summerizeValue'.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: A
    queryTypeParam:
      name: queryType
      in: query
      description: queryType value can be <b>basic, spatialOperation</b> or <b>functionBased</b>.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: functionBased
    queryTypeParamCatchment:
      name: queryType
      in: query
      description: queryType value can be <b>basic, spatial</b>.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: functionBased
    comparisonFunctionParam:
      name: comparisonFunction
      in: query
      description: 'The functions allowed are: <b>Area, Length</b> and <b>isEmpty</b>. This parameter is mandatory for queryType functionBased.'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: Area
    comparisonOperatorParam:
      name: comparisonOperator
      in: query
      description: 'The operators allowed are: =, >, <, <>, >= and <=. This parameter is mandatory for queryType functionBased.'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: '='
    comparisonValueParam:
      name: comparisonValue
      in: query
      description: 'The values allowed are: <li>Numeric (in meters) (for comparisonFunction area and length)</li><li>Boolean (for comparisonFunction isEmpty)</li>. <br>This parameter is mandatory for queryType functionBased.'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: '100'
    datasetSourceParam:
      name: datasetSource
      in: query
      description: Source dataset name. Mandatory both in case of Spatial as well as Non-Spatial Query.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: geocode_ii
    datasetRefParam:
      name: datasetRef
      in: query
      description: Source dataset name. Mandatory both in case of Non-Spatial Query.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: geocode_iii
    operatorParam:
      name: operator
      in: query
      description: 'Mandatory both in case of Spatial as well as Non-Spatial Query. <ul><li>Operators allowed for <b>queryType = ''basic''</b> are: </li><=, >=, =, <, >, <>, IN and NOT IN</li><li>Operators allowed for <b>queryType = ''spatialOperation''</b> are:</li> Intersects, Disjoint, Overlaps, Equals, Touches, DWithin, Within, Contains and Crosses</ul>'
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: Intersects
    operatorParamCatchment:
      name: operator
      in: query
      description: 'Mandatory both in case of Spatial as well as Non-Spatial Query. <ul><li>Operators allowed for <b>queryType = ''basic''</b> are: </li><=, >=, =, <, >, <>, IN and NOT IN</li><li>Operators allowed for <b>queryType = ''spatial''</b> are:</li> Intersects, Disjoint, Overlaps, Equals, Touches, DWithin, Within, Contains and Crosses</ul>'
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: Intersects
    sourcePropertyParam:
      name: sourceProperty
      in: query
      description: Source property attributes to be queried. Mandatory both in case of Spatial(between 2 datasets) as well as Non-Spatial Query.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: id
    refPropertyParam:
      name: refProperty
      in: query
      description: Reference property attributes to be queried. Mandatory in case of Non-Spatial Query.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: id
    selectionParamSourceParam:
      name: selectionParamSource
      in: query
      description: Source property attributes to be reflected in the result. Optional in case of arithmetic operations, Spatial(between 2 datasets) as well as Non-Spatial Query.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: id, lat
    selectionParamRefParam:
      name: selectionParamRef
      in: query
      description: Reference property attributes to be reflected in the result. Optional both in case of Spatial(between 2 datasets) as well as Non-Spatial Query.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: osm_id, name
    userGeom:
      name: userGeom
      in: query
      description: Value of UserGeom will be 'true' if user wants to perform spatial filters with user-defined geometry.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: true
    userGeomGeom:
      name: userGeom
      in: query
      description: Value of UserGeom will be 'true' if user wants to perform geometric operations with user-defined geometry.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: true
    queryTypeSingleParam:
      name: queryType
      in: query
      description: queryType value should be functionBased. Mandatory when user has to perform geometric operations with or without query.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: functionBased
    propertyNameSingleParam:
      name: propertyName
      in: query
      description: Property attributes to be reflected in the result. If not passed all the columns of the datasetNme will be displayed in the resultant.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: housenumber
    comparisonFunctionSingleParam:
      name: comparisonFunction
      in: query
      description: 'The functions allowed are: <b>Area</b> and <b>Length</b>. This parameter is mandatory for queryType functionBased. Applicable for only queryType = ''functionBased'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: Area
    comparisonOperatorSingleParam:
      name: comparisonOperator
      in: query
      description: 'The operators allowed are: =, >, <, <>, >= and <=. This parameter is mandatory for queryType functionBased. Applicable for only queryType = ''functionBased'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: '='
    comparisonValueSingleParam:
      name: comparisonValue
      in: query
      description: The value should be in numeric (in meters). This parameter is mandatory for queryType functionBased. Applicable for only queryType = 'functionBased
      required: false
      allowEmptyValue: false
      schema:
        type: number
      example: 10
    saveAsNewDatasetSingleParam:
      name: saveAsNewDataset
      in: query
      description: Pass ‘true’ for the resultant to be saved in to user's workspace as a new table. Applicable for only queryType = 'functionBased
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: 'true'
    newDatasetNmeSingleParam:
      name: newDatasetNme
      in: query
      description: Name of the table in which the resultant has to be stored. This parameter is mandatory  if saveAsNewDataset = true. Applicable for only queryType = 'functionBased'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: geotest
    featureIDParam:
      name: featureID
      in: query
      description: feature id of the particular feature of the layer whose geometry is required.
      schema:
        type: string
      example: india.8
    filterParam:
      name: filter
      in: query
      description: query on the basis of which the geometry is required.
      allowEmptyValue: false
      schema:
        type: string
      example: id=368
    Geometry:
      name: geometry
      in: query
      description: User defined geometry will be of geoJSON format. It will contain the geometry key-value part of the geojson. The geojson should contain the coordinates in <b>[lon, lat] format</b>.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: |-
        {
        "type":"MultiLineString","coordinates":[
        [
        [
        100.0,
        0.0
        ],
        [
        101.0,
        1.0
        ]
        ],
        [
        [
        102.0,
        2.0
        ]
        ,[
        103.0,
        3.0
        ]
        ]
        ]
        }
    type:
      name: type
      in: query
      description: This parameter consists the type of property. Properties are - Create, View, Update. In case of Create We need new column. In case of View, new_column is not required and the data after opaeration will be shown in response. In case of Update the values get updated in the col1 of the table.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: view
    new_column:
      name: new_column
      in: query
      description: new_column parameter is only mandatory in case of Type:Create, which is the name of new column to be created
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: updated_values
    filter:
      name: filter
      in: query
      description: Filter is the query to be applied on the dataset. It is an optional parameter for spatial queryType, if filter is not passed in an spatial operation the result will show all the data on the basis of column values.<br>[Note:Filter cannot be applied on basic queryType.]
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: district in ( 'Bikaner','Churu')values
    exp_filter:
      name: filter
      in: query
      description: Filter is the query to be applied on the dataset.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: district in ( 'Bikaner','Churu')values
    delimiter:
      name: delimiter
      in: query
      description: 'A delimiter is a sequence of one or more characters for specifying the boundary between separate, independent regions in plain text, mathematical expressions or other data streams. An example of a delimiter is the comma character, which acts as a field delimiter in a sequence of comma-separated values.[Note: Delimiter is applicable when when multiple column names have been added and its value always be in single inverted comma.]'
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: '''_'''
    oldData:
      name: oldData
      in: query
      description: oldData is the existing value which can be replaced.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: Bikaner
    newData:
      name: newData
      in: query
      description: New Value that needs to be replaced with an existing value.
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: Delhi
    start:
      name: start
      in: query
      description: starting index of substring.
      required: false
      allowEmptyValue: false
      schema:
        type: number
      example: 2
    steps:
      name: steps
      in: query
      description: number of characters in the substring. If steps is blank then substring will contain characters from starting value provided to end of string.
      required: false
      allowEmptyValue: false
      schema:
        type: number
      example: 5
    operator:
      name: operator
      in: query
      description: Operator can contain the value of arithmetic,string,aggregate,geometric.<br><b>Arithmetic Operators  -,+,/,* <br>String Operators = Length,Upper,Lower,InitCap,Concat,Replace,Substring <br>Aggregate Operators =  Count, Average, Max, Median, Min, StdDev and Sum<br>Geometric Operators = Lat,Long,Centroid,Area,Length
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: replace
    dboperator:
      name: operator
      in: query
      description: Operators allowed for queryType = "basic" are:<br> <=, >=, =, <, >, <>, IN and NOT IN<br> Operators allowed for queryType = "spatial" are:<br>Intersects, Disjoint, Overlaps, Equals, Touches, DWithin, Within, Contains and Crosses
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: '>'
    src_tableNme:
      name: src_tableNme
      in: query
      description: The Dataset available with us, in our database will be the source table.<br>Mandatory in case of queryType basic and operators(<,>,= etc) Not mandatory in basic queryType except (IN and NOTIN) operators.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: data003
    ref_tableNme:
      name: ref_tableNme
      in: query
      description: The reference table name is the name of Dataset available within another database.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: state_test
    src_column:
      name: src_column
      in: query
      description: Columns of the source table, src_column can have single column or multiple column as value.<br>Mandatory in case of queryType basic and operators(<,>,= etc) Not mandatory in basic queryType except (IN and NOTIN) operators
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: geom
    ref_column:
      name: ref_column
      in: query
      description: Columns of the reference table, ref_column can have single column or multiple columns as value.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: geom,stt_id
    filterColumn:
      name: filterColumn
      in: query
      description: Contains the attributes of source table, in case of basic queryType.<br>Mandatory in case of basic operations.<br> [Note:It will not work in case of NOTIN and IN operators].
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: stt_id
    filterValue:
      name: filterValue
      in: query
      description: Values of filter column is passed in the filterValue parameter.<br>Mandatory in case of basic operations.<br> [Note:will not work in case of NOTIN and IN operators].
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: 4
    src_cnd_clmn:
      name: src_cnd_clmn
      in: query
      description: Source condition column will work only in case of queryType= basic (NOT IN and IN operators).
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: id_1
    ref_cnd_clmn:
      name: ref_cnd_clmn
      in: query
      description: Refrence condition column will work only in case of queryType = basic  (NOT IN and IN operators).
      required: false
      allowEmptyValue: false
      schema:
        type: string
      example: stt_id
    queryType:
      name: queryType
      in: query
      description: queryType values can be arithmetic,string,geometric and aggregate. On the basis of queryType value API can find which type of query you want to execute.
      required: true
      allowEmptyValue: false
      schema:
        type: string
      example: arithmetic
  schemas:
    getDatasetRes:
      title: getDataset
      type: object
      properties:
        code:
          type: string
          description: Response code.
          example: '200'
        result:
          type: object
          properties:
            type:
              type: string
              example: FeatureCollection
            features:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    example: feature
                  id:
                    type: string
                    example: india.1
                    description: feature id of the feature attribute.
                  geometry:
                    type: string
                    description: geometry of the feature attribute.
                    example: 'null'
                  properties:
                    type: object
                    properties:
                      st_name:
                        type: string
                        example: ANDAMAN AND NICOBAR ISLANDS
            totalFeatures:
              type: number
              example: 35
            numberMatched:
              type: number
              example: 35
            numberReturned:
              type: number
              example: 1
            timestamp:
              type: string
              example: '2020-08-10T13:59:51.624Z'
            links:
              type: array
              items:
                type: object
                properties:
                  title:
                    type: string
                    example: next page
                  type:
                    type: string
                    example: application/json
                  rel:
                    type: string
                    example: next
                  href:
                    type: string
                    example: http://localhost:8081/geoserver/wfs?PROPERTYNAME=st_name&TYPENAME=anjali%3Aindia&REQUEST=GetFeature&OUTPUTFORMAT=application%2Fjson&VERSION=2.0.0&SERVICE=WFS&COUNT=1&ISDENORMALIZED=false&STARTINDEX=1
            crs:
              type: string
              example: 'null'
    getBoundingBoxRes:
      title: getBoundingBox
      type: object
      properties:
        code:
          type: string
          description: Response code.
          example: '200'
        result:
          type: object
          properties:
            type:
              type: string
              example: FeatureCollection
            features:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    example: feature
                  id:
                    type: string
                    example: india.1
                    description: feature id of the feature attribute.
                  geometry:
                    type: string
                    description: geometry of the feature attribute.
                    example: 'null'
                  properties:
                    type: object
                    properties:
                      bbox:
                        type: string
                        example: BOX(74.7912769996 34.0866250004,74.7912769996 34.0866250004)
            totalFeatures:
              type: number
              example: 1
            numberMatched:
              type: number
              example: 1
            numberReturned:
              type: number
              example: 1
            timestamp:
              type: string
              example: '2020-08-10T13:59:51.624Z'
            crs:
              type: string
              example: 'null'
    getGeometryRes:
      type: object
      properties:
        geometry:
          type: object
          properties:
            type:
              type: string
              example: Multipoint
            coordinates:
              type: string
              example:
                - 80.3519
                - 26.4634
            geometry_name:
              type: string
              description: geometry of the feature attribute.
              example: geom
            properties:
              type: string
              example: {}
    query_applySingle:
      title: query_apply (Single Table)
      type: object
      properties:
        code:
          type: string
          description: Response code.
          example: '200'
        result:
          type: object
          properties:
            type:
              type: string
              example: FeatureCollection
            features:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    example: Feature
                  id:
                    type: string
                    example: ' india.2'
                  geometry:
                    type: string
                    example: 'null'
                  properties:
                    type: object
                    properties:
                      st_name:
                        type: string
                        example: Andhra Pradesh
            totalFeatures:
              type: number
              example: 1
            numberMatched:
              type: number
              example: 1
            numberReturned:
              type: number
              example: 1
            timestamp:
              type: string
              example: '2020-08-10T13:59:51.624Z'
            crs:
              type: string
              example: 'null'
        layerBounds:
          type: string
          example: 'null'
    query_applyCross:
      title: query_apply (Cross Join)
      type: object
      properties:
        code:
          type: string
          description: Response code.
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              prop1:
                type: string
                description: Prop1 value
              prop2:
                type: string
                description: Prop2 value
              prop3:
                type: string
                description: Prop3 value
              prop4:
                type: string
                description: Prop4 value
              prop5:
                type: string
                description: Prop5 value
              prop6:
                type: string
                description: Prop6 value
              prop7:
                type: string
                description: Prop7 value
              prop8:
                type: string
                description: Prop8 value
    validateQueryRes:
      title: validateQuery
      type: object
      properties:
        code:
          type: string
          description: Response code.
          example: '200'
        message:
          type: string
          description: Displays the message wheather the query is valid or invalid.
          example: Valid Query
          properties:
            type:
              type: string
              example: FeatureCollection
    airthmeticoperation:
      title: airthmeticoperation
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              ogc_fid:
                type: number
                example: 7
              type:
                type: string
                example: Roadside Service Lane
              lat:
                type: number
                example: 32.3345
              lon:
                type: number
                example: 77.5859
              airthematic_res:
                type: number
                example: 109.9204
    expressionoperation:
      title: airthmeticoperation
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              lat:
                type: number
                example: 32.3345
              lon:
                type: number
                example: 77.5859
              updated_values:
                type: number
                example: 109.9204
    aggregateoperation:
      title: aggregateoperation
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: object
          properties:
            GroupByAttributes:
              type: array
              items:
                type: string
            AggregationResults:
              type: array
              items:
                type: array
                items:
                  type: number
                  description: Aggregated Value
                  example: '21.168174'
            AggregationFunctions:
              type: array
              items:
                type: string
                description: Aggregate Function
                example: Median
            AggregationAttribute:
              type: string
              description: Attribute on which aggregate function performed
              example: latitude
    datasetArea:
      title: datasetArea
      type: object
      properties:
        code:
          type: string
          description: response code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              area:
                type: number
                description: value of area after spatial operation
                example: '0.2670491076815'
    datasetBuffer:
      title: datasetBuffer
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              buffer:
                type: object
                properties:
                  type:
                    type: string
                    description: type of Geometry
                    example: Polygon
                  coordinates:
                    type: array
                    items:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                          description: value of Coordinates
                          example: 90.1841592739256, 47.0308729725456
    usergeomarea:
      title: usergeomarea
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: number
          description: area of two geometry
          example: '7.1449033393633705'
    usergeomintersect:
      title: usergeomintersect
      type: object
      properties:
        code:
          type: string
          description: Response Code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              buffer:
                type: object
                properties:
                  type:
                    type: string
                    description: type of Geometry
                    example: Polygon
                  coordinates:
                    type: array
                    items:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                          description: value of Coordinates
                          example: 78.9258, 23.725
    CreateTable:
      title: Create table
      type: object
      properties:
        code:
          type: number
          description: OK
          example: 200
        result:
          type: string
          example: Table created Sucessfully.
    db_link:
      title: db_link
      type: object
      properties:
        code:
          type: string
          description: response code
          example: '200'
        result:
          type: array
          items:
            type: object
            properties:
              geom:
                type: string
                description: geometry
                example: 0106000020E6100000010000000103000000010000007A41000064545227A0CF534050A165DD3F423F408848861C5BCF534070CA4E3FA83F3F403448FAB48ACF534080DE718A8E3C3F4088656CE866D0534050CD902A8A3B3F406C56B60F79D15340501C5DA5BB3B3F40480DA661F8D15340D036A968AC393F4020520C9068D2534080C1E09A3B363F402C90D959F4D2534010E10A28D4333F40E4A815A6EFD25340B0728577B9303F40B8FF01D6AAD2534090880D164E2E3F40BC5CFDD824D35340D0525DC0CB283F403C73486AA1D35340C0D100DE02253F400486E5CFB7D35340000EBE3099223F40DCC9E02879D45340D0874B8E3B213F40546D7022FAD4534010809C3061203F4094C4CBD3B9D55340203B1A87FA1D3F4090B800344AD65340E0D93BA3AD1E3F40289A40118BD6534060569A94821E3F407468CA4E3FD75340D00AB77C241D3F40A0E61DA7E8D75340D0A2224E271D3F40B8D7BB3FDED8534080DF313CF61B3F4044AC376A85D9534030C6A4BF971A3F40F09106B7B5D9534020D00B772E183F40C88366D7BDD95340A048DBF813153F40C8E2378595DA53401019C8B3CB133F402809C21550DB534090D2DEE00B133F403CB874CC79DB5340B037A3E6AB103F40781BD47E6BDB534050A7203F1B0D3F400C51BEA085DB5340B0E447FC8A093F403CDA71C3EFDB534010FDF7E0B5073F4024F0C000C2DC53407078B306EF073F40680113B875DE5340C02D03CE520A3F40F07420EBA9DF5340D03F6CE9D1083F4098D920938CE053407019541B9C083F40204E999B6FE153404053211E89073F4018FBCBEEC9E15340B0A04D0E9F043F40B0C1FBAA5CE25340E08F4DF223023F405C7380608EE25340909752978CFF3E4040F88903E8E25340508386FE09FE3E4054E1085229E3534010BB61DBA2FC3E40F89CF4BEF1E25340E0A65CE15DFA3E4094E21C7574E3534030A8E15B58F73E4020F4A5B73FE45340604B3ACAC1F43E40D8A414747BE55340A08D40BCAEF33E404C0D6D0036E65340E05790662CF23E40441D8F19A8E6534030DFDE35E8EF3E404C1E882CD2E753408005A22765F23E40403B191C25E9534030594E42E9F33E40981FF12BD6E9534040FF21FDF6F53E40CC8CB7955EEA5340701A4D2EC6F83E40C8482F6AF7EA534020048F6FEFFA3E40683733FAD1EB5340C0A888D349FA3E406080B6D5ACEC534000B6A0F7C6F83E40C0175FB4C7ED5340003E23111AF93E40504EED0C53EF534030506F46CDFB3E4054F86C1D1CF05340D01248895DFF3E40F80703CFBDF05340C091EBA694FF3E40C00B941458F15340A0D26C1E87FD3E406C4E5E6402F25340F0EF5014E8FB3E40A8DE5339EDF2534000F2D077B7FA3E4014F27A3029F4534060185B0872F83E401C30815B77F65340B0B437F8C2F83E4090B1135E82F7534030D6E25300F83E406C60E4654DF85340809274CDE4F33E4054C24CDBBFF85340101077F52AEE3E40F8F6E7A221F95340406EDC627EEA3E40ECB985AE44FA534040FD12F1D6E93E40448BA548BEFA5340A0AB1F9BE4E73E40484772F90FFB53405059F8FA5AE33E40B0DC0BCC0AFC5340004A27124CE13E409C0AF148BCFC534080546EA296E23E404032569BFFFD5340A038F24064E13E40E8CFB7054BFF534070D8614CFADF3E40883FC39B35005440305AB91798DD3E40106D00362001544040431CEBE2DA3E408C2D3D9AEA01544040D28BDAFDD63E4008C765DCD402544080573D601ED63E409C8235CEA6035440202829B000D63E40CCC51858C7035440900BEBC6BBD33E4098E34EE96004544090BFD18E1BD23E4034B43A3943055440F07492AD2ECF3E40BCC1508715065440E06B7A5050CA3E4080AB75E272065440F05D2EE23BC93E40D45E7D3CF4065440D06A9E23F2C93E4090E89E758D07544090035ABA82C93E40DC7745F0BF085440A00C0055DCC83E408C93FB1D8A095440801C78B5DCC93E40BC8FDC9A740A5440A01B7E37DDCA3E4044446ADAC50A5440A0895B0531CC3E400422FDF6750A544070FCC22B49CE3E40A0B98784EF0A544080718DCF64CF3E40204CC3F0110C544020A5F622DACE3E4060A0A4C0020D5440B0B0FD648CCB3E40ECC2482F6A0D5440607BD80B05C83E40D84CF73AA90D54406078094E7DC43E40883C821B290E544070971AA19FC13E4040EFC682C20E5440E0CF0D4DD9C13E4050B9C2BB5C0F5440B0703D0AD7C33E4030D49AE61D105440A0D6A6B1BDC23E40F448BC3C9D105440B0EA909BE1BE3E409476DCF0BB10544050E867EA75BB3E4010B3D0CE69105440A019E1ED41B83E4024787C7BD70F544020E25817B7B53E40102AAA7EA50F5440904336902EB23E40900A9C6C030F5440E071FC5069B03E407021C841090E544060C6866EF6AF3E40E80CC51D6F0D5440D05E9A22C0AD3E40E489592F860D544070B14D2A1AAB3E401C9E978A8D0D5440A0300C5872A93E405006802A6E0E5440F0A16131EAA63E4088CC9541B50E5440505D16139BA33E406C4815C5AB0E5440606C054D4BA03E407CE75086AA0E544000096EA46C9D3E40F4845E7F120F54408044BE4BA99B3E40D81D8B6D520F54406027D9EA729A3E404C06B98B300F5440F0A84E07B2963E406CCA4E3FA80F5440708FC2F528943E4070F3FFAA231054406043E21E4B933E40F087D860E1105440D07C7901F6913E40684F029B73125440402BA226FA903E40C8094CA775135440C0CF2A33A5913E40E8C798BB9614544030AF0793E28F3E40AC143B1A8715544060535914768D3E404C8D09319716544010BBD39D278A3E408446E9D2BF175440A0675E0EBB873E40F0815660C8185440B0DB4B1AA3853E40E40033DFC1195440C0A84F7287853E40386C94F59B1A5440E02FD80DDB863E40D452B29C841B5440A043FD2E6C853E40D4915CFE431C5440B0FF571D39823E407C80272D5C1D544090419946937F3E405C410C74ED1E544080D8B628B37D3E40F41B5F7B66205440B0B1F677B67B3E40C09A3C6535225440C055BB26A4753E4030944C4EED225440D00E63D2DF733E40A42633DE5623544090C98D226B753E40C004A73E90235440205B41D312773E40106B2A8BC224544070EB5223F4773E404CE9D2BF24255440B0D288997D7A3E40BC7BB94F8E255440A0B62A89EC7B3E40480E1137A72654408028B517D17A3E4010293FA9F6275440D00644882B773E40182C0E677E295440B00F96B1A1733E4008594FADBE2A5440E0C1FA3F87713E4038E36DA5D72B5440D03577F4BF703E40581C075E2D2D54407049B9FB1C6B3E40D099ED0A7D2E544090D93D7958683E40F4EEC8586D2F5440B0D0B2EE1F673E40747D586FD430544020575C1C95633E40FCBA0CFFE9315440D0BF7ADCB75E3E40285646239F325440E0B32094F7593E40F84718062C335440207EA99F37553E40246FB9FAB1345440106EA46C91503E4050486B0C3A3654407014CB2DAD4E3E40F4AB72A1F237544090BD8921394D3E403CEAE8B81A3A5440F02CB308C54A3E407432AA0CE33B5440E08C0C7217493E406094D920933D544040056B9C4D473E40842A6EDC623F5440D0438A0112453E40807F83F6EA405440407B12D89C433E40184372327141544090A0A3552D413E409824CFF57D41544000BFB854A53D3E405461A5828A415440B01611C5E4393E4024718FA50F4254405030D5CC5A363E408CAB0320EE415440003B1BF2CF343E4054A5660FB4405440D0D39D279E333E409065FA25E23F5440E0A8328CBB313E40A897512CB73F54401072FBE593313E404C03780B243F5440D0C6F5EFFA303E40F8824F73F23E54403019E42EC2303E4024E7FD7F9C3E5440707DCA3159303E40C447FDF50A3E5440E02C0950532F3E405CDE550F983D544060758F6CAE2E3E400079E8BB5B3D5440207008556A2E3E4048FCC3961E3D544020BABDA4312E3E40042EC896E53C544000494A7A182E3E40648C48145A3C5440A0E4805D4D2E3E405007EBFF1C3C544090C3D2C08F2E3E400CB47405DB3B544050DB6AD6192F3E408C9D29745E3B54401068942EFD2F3E400875CAA31B3B5440D0D2C08F6A303E4008323B8BDE3A544080FA415DA4303E408C0AD5CDC53A5440104CE0D6DD303E40D09541B5C13A5440C0B6291E17313E40244432E4D83A5440A015359886313E40184BCADDE73A544020471E882C323E40ACE507AEF23A544070C136E2C9323E40D087A06AF43A544040056B9C4D333E40707F677BF43A544000E3361AC0333E40B85F77BAF33A544010DE3B6A4C343E40DCB79388F03A5440101E1840F8343E405497C5C4E63A5440A054185B08363E40E85FCB2BD73A544080AB2006BA363E402C029CDEC53A5440504CFBE6FE363E4030306475AB3A54402010937021373E4024C3633F8B3A5440A033863941373E40A4EC66463F3A544000DE1FEF55373E40EC0E62670A3A544060A3906456373E40ECFEEA71DF39544080E107E753373E405C8638D6C539544020D9CEF753373E4074C806D2C5395440F0CB441152373E401C97AAB4C5395440805C8DEC4A373E4058AF5B04C639544010556AF640373E40F0CF4543C639544070D828EB37373E4040873254C5395440006971C630373E4030508BC1C3395440A0614ED026373E40E0E68D93C2395440B0D0B2EE1F373E4024F0C000C239544020E0BBCD1B373E40CCBE64E3C1395440B08E006E16373E40C010AB3FC239544060A088450C373E4004D71533C2395440C035221807373E40ACBF5E61C139544030452BF702373E40D4177B2FBE3954408017D34CF7363E40BCEF517FBD395440C093C151F2363E4070865451BC39544000369204E1363E40403602F1BA395440A02E6F0ED7363E404C66F50EB739544020ADDC0BCC363E4074BE11DDB3395440209B012EC8363E40CC8B4CC0AF39544080C806D2C5363E40BCA29410AC395440F007E753C7363E4098F947DFA439544000825660C8363E404CF8DEDFA0395440D01E1329CD363E40788F6CAE9A39544040A0A52BD8363E40A0E7887C97395440102B8716D9363E40744DBA2D9139544090B4FF01D6363E406855849B8C39544040F65E7CD1363E40E812471E88395440A08BF84ECC363E40505AF10D85395440704E97C5C4363E405C8AE42B813954403072FA7ABE363E40C439234A7B395440A06F287CB6363E4038971B0C75395440901B9B1DA9363E4004D8800871395440109A081B9E363E4008F6984869395440D0F5285C8F363E409C04A8A9653954408007B13385363E40CC24236761395440502009FB76363E4004B4E6C75F39544090F2B0506B363E40B0730CC85E395440305AF2785A363E40984BE3175E3954405013EF004F363E40A03C65355D395440E0F9F02C41363E40BCA3FFE55A39544040B56CAD2F363E40DC0A9A9658395440202A38BC20363E40EC887C975239544050A852B307363E40B0D85F764F3954403055DB4DF0353E4050E3175E493954408095EEAEB3353E408C49B89047395440A073D4D171353E406438D7304339544020AE80423D353E40E4C14F1C4039544080C79BFC16353E40D8AF743E3C39544040FCE07CEA343E40F459D76839395440E0FCA36FD2343E40486ADAC53439544080DF6A9DB8343E405CBF99982E3954404016BF29AC343E40B88CD47B2A395440F04C13B69F343E40D8F36E2C28395440106EA46C91343E40AC25564623395440001A170E84343E4040048E041A395440D0326FD575343E400CE1D1C611395440D0A2E9EC64343E40C413B35E0C3954409067B45549343E405035B39602395440604D10751F343E402824D236FE38544040B8E68EFE333E40FC55B950F9385440D0641C23D9333E4070CD565EF238544040B4C876BE333E40C088B663EA385440E042024697333E405820B3B3E838544010F1F3DF83333E4054B16A10E6385440707C98BD6C333E401899B9C0E5385440B07E17B666333E4000719010E5385440204C6E1459333E4038005471E3385440406DFFCA4A333E407CBF0AF0DD385440C097DF6932333E40D067791EDC385440E0FA22A12D333E40D876137CD3385440C0B0A71DFE323E40308716D9CE385440A0067E54C3323E4028DDCF29C838544030361FD786323E40CCA8328CBB385440E0A65CE15D323E40FCA75489B2385440208AE6012C323E40BC85AE44A0385440C0FA230C03323E40A035785F95385440A0FC4FFEEE313E40C0826DC49338544060FBE6FEEA313E408875E3DD91385440500ED8D5E4313E4024FE614B8F385440703A747ADE313E40B4D826158D385440109BE5B2D1313E40AC4412BD8C3854400034677DCA313E4098D920938C38544090E97B0DC1313E4050F910548D385440B0E5400FB5313E406CDE718A8E38544060724EECA1313E40CCB260E28F385440001D588E90313E405C0BEC3191385440B02EE06586313E4094EF52EA9238544010103E9468313E40845017299438544010D671FC50313E4020D9959691385440B064ABCB29313E40C473EFE192385440B0629CBF09313E40D085CABF96385440009AB33EE5303E4090B7955E9B385440302BBF0CC6303E40B8C876BE9F385440A0986725AD303E40E041EC4CA1385440700E492D94303E4020FD2FD7A2385440B006D3307C303E4044B96DDFA3385440800A2B1554303E40A473B7EBA5385440502174D025303E4000753C66A0385440F0CB7D7214303E40D8635B069C385440B03A8F8AFF2F3E4078417DCB9C38544000E42F2DEA2F3E40702FA2ED9838544050ABCC94D62F3E40C43FA54A94385440E073D2FBC62F3E402496CD1C9238544050A9BD88B62F3E4038B742588D38544070200890A12F3E40CC61307F85385440807286E28E2F3E4000B6F5D37F385440D039234A7B2F3E401C51DA1B7C385440A08A389D642F3E40B8A50EF27A38544070AA6054522F3E40742D93E17838544030E1B4E0452F3E40700C3A2174385440306F2BBD362F3E40AC72DA5372385440D019355F252F3E4004D880087138544090884677102F3E40E0C69FA86C38544040F7578FFB2E3E40540AF31E673854404085CE6BEC2E3E40F41B5F7B66385440E04DD4D2DC2E3E40F0C6BB2363385440302F3201BF2E3E40DCA205685B38544000A51309A62E3E408CB48D3F51385440B085CB2A6C2E3E4060E674594C385440D0D7497D592E3E40DC1A4AED4538544000BDE2A9472E3E406808008E3D38544000268DD13A2E3E4078D4D17135385440D063B14D2A2E3E40E8C281902C385440407BA015182E3E40E0183BE125385440E0EDEC2B0F2E3E40EC8F696D1A385440305FD042022E3E40648DB3E908385440E0EBDD1FEF2D3E4098490D6D00385440C043C362D42D3E406CE388B5F8375440A076DCF0BB2D3E400026E2ADF3375440E09332A9A12D3E40DCD138D4EF375440902040868E2D3E40B0376A85E9375440A090BA9D7D2D3E408048F8DEDF375440403BC43F6C2D3E4008ADC090D537544030E736E15E2D3E403C35D07CCE37544050C5FF1D512D3E405447C7D5C837544060DFC0E4462D3E406C9C86A8C2375440B018E76F422D3E4060BEF561BD375440B06EA0C03B2D3E4058E0641BB83754404055A2EC2D2D3E400CDFFB1BB437544070156F641E2D3E4088AB3C81B037544050DFDDCA122D3E4038897AC1A7375440D01B9947FE2C3E404CAAEFFCA237544000A4A833F72C3E40FCBB77D4983754401086AC6EF52C3E4064984C158C37544000321F10E82C3E40D03159DC7F3754409018213CDA2C3E409C42E7357637544040DDEBA4BE2C3E40B4635C7171375440A0868C47A92C3E40F486342A70375440A0F6065F982C3E40ACDA6E826F37544060651877832C3E40A885CB2A6C3754408061DD78772C3E4068CA87A06A375440707DCA31592C3E401CFD683865375440A00ED6FF392C3E40B0730CC85E375440302D95B7232C3E40F096E4805D375440407F130A112C3E4028404D2D5B37544080F22213F02B3E40FCD9C87553375440E07DC7F0D82B3E40B0B706B64A37544060EB6F09C02B3E40E8C803914537544040255987A32B3E40609544F64137544000CC272B862B3E405C40A19E3E375440A0CCEA1D6E2B3E407095607138375440C0006DAB592B3E402460ADDA35375440F003029D492B3E40A83EC91D36375440D05BE7DF2E2B3E40502EC6C03A375440F01DE0490B2B3E40181DC9E53F375440901EA33CF32A3E402CD9EA724A375440001AC231CB2A3E4080B8E4B853375440901A8524B32A3E40B0730CC85E375440D0FF1D51A12A3E404CCB811E6A375440601EDD088B2A3E407074CE4F7137544050C8409E5D2A3E409885AFAF753754405072A433302A3E40E452CE177B375440B0FD4811192A3E40DC648D7A8837544080F8A413092A3E40ECCB0BB08F37544050E00F3FFF293E401CEFC7ED9737544000C3D66CE5293E40CC3368E89F375440A0A59D9ACB293E40F499EC9FA7375440701B7FA2B2293E40BC88EFC4AC375440D0C41F459D293E406878EC67B1375440B0A17F828B293E40708AC745B5375440A0BD6C3B6D293E40F8BD86E0B837544000670DDE57293E405C350873BB37544010A69A594B293E40E468C70DBF37544030F818AC38293E4024240B98C0375440D0F8DB9E20293E409CF04BFDBC375440B04EB2D5E5283E407C340EF5BB37544050BFEFDFBC283E40C0AC8905BE375440F0442DCDAD283E40E8BD6A65C2375440D09C121093283E4004BD70E7C2375440F02D1EDE73283E40E468C70DBF37544060293DD34B283E4008250516C037544060452A8C2D283E40CCBE64E3C1375440B07C410B09283E402879AEEFC337544080938AC6DA273E403036E675C437544030D3DA34B6273E4094AD6708C73754405095D39E92273E403036E675C4375440201EA67D73273E408089B14CBF37544000588FFB56273E40448BA548BE375440A05852EE3E273E40A045EF54C037544000E4F6CB27273E40AC57CA32C43754400000E48409273E4050F2237EC5375440901EA33CF3263E40348B89CDC7375440308FE046CA263E40F067B114C9375440903881E9B4263E4054137D3ECA3754405089963C9E263E40B88AFED0CC375440203735D07C263E40A0E09BA6CF375440F0DD03745F263E402848A5D8D137544030FB592C45263E40ECE104A6D33754405038D89B18263E40B07B6473D5375440100473F4F8253E40D00358E4D7375440B03CF372D8253E4074361D01DC375440E0CDFE40B9253E40389C3237DF37544080CEC133A1253E40C0033C69E1375440105DFB027A253E40C48C2958E33754401021205F42253E400CD15AD1E637544050CCECF318253E40549E7939EC37544010EE409DF2243E408004FEF0F33754409046E9D2BF243E40909FC6BDF9375440A05E9B8D95243E40F4E2FDB8FD375440D0B7E9CF7E243E405CE36C3A0238544030438EAD67243E40A8B08BA207385440F0D66B7A50243E402CE44A3D0B385440D02E51BD35243E40D0C16C020C385440E064FF3C0D243E40506C3EAE0D385440809D7FBBEC233E40346D382C0D385440302A8D98D9233E40B0C266800B385440804EB340BB233E40E86BCF2C09385440C09CF6949C233E408C0629780A38544060A4897780233E40B08E1CE90C38544090BA0F406A233E40D89FFD4811385440F0887C9752233E40F49E03CB11385440A033863941233E4098E4B9BE0F385440A031772D21233E40B4170AD80E38544040DC80CF0F233E40902782380F385440C0183C4CFB223E40DC28EB371338544070A54929E8223E4068B14D2A1A385440A0A8DE1AD8223E40F46DFAB31F3854405035ECF7C4223E40F8F6E7A221385440305514AFB2223E40A05DF756243854402071016894223E409CF5622827385440B0E5797077223E40E8C281902C385440F058897956223E4074B378B13038544080E7C2482F223E40A04D470037385440202043C70E223E40602A6F4738385440505B9544F6213E403C6E313F37385440E0B11188D7213E405CD5CBEF3438544070E3C116BB213E40907E349C32385440601DAB949E213E406418B0E42A385440508F519E79213E4060C30C8D27385440403BC43F6C213E407C6D6FB72438544070048D9944213E40387EE1952438544040B22B2D23213E40A05DF756243854400077F69507213E407CA1B94E2338544040944C4EED203E4030A0504F1F385440903DEDF0D7203E4028F609A01838544080E95F92CA203E40B86CAD2F1238544020946934B9203E40488EAD6708385440F05F048D99203E40D4AFAD9FFE3754407077F35487203E40A815DF50F8375440C0E8D66B7A203E406048C0E8F23754409008FF2268203E40FC0489EDEE375440F079E2395B203E40AC7A32FFE8375440C0614D6551203E40A09CA1B8E33754405077103B53203E40FC9D2633DE375440D04351A04F203E40D88C45D3D9375440E05D126745203E4014F3E505D837544040793C2D3F203E402848A5D8D137544070EE5A423E203E40F824E99AC9375440D07B0E2C47203E40D468AB92C837544060AFCDC64A203E4080F1457BBC375440B0E8F35146203E4024680586AC37544040793C2D3F203E4048554CA59F375440B0586E6935203E40A453909F8D375440D00776FC17203E406CEE21E17B375440F057E542E51F3E408831225168375440C0E7A4F78D1F3E40A8C9C518583754406058E201651F3E405095287B4B375440905968E7341F3E40C0B72231413754404099B855101F3E4010738236393754405009336DFF1E3E405C71AAB530375440C006616EF71E3E4038F9669B1B37544020761893FE1E3E40FC2B64AE0C375440D03CF207031F3E40B03AAB05F6365440605DC0CB0C1F3E409829E620E836544020941458001F3E40C4D364C6DB365440501C2444F91E3E4090B0A888D3365440F08E705AF01E3E4080F486FBC836544040560DC2DC1E3E4050395FECBD36544090713788D61E3E405C7C43E1B3365440E038D4EFC21E3E40506A6803B0365440208EE733A01E3E4064BF27D6A93654406001F73C7F1E3E40F08B84B69C365440802288F3701E3E40389D9D0C8E365440C0AA97DF691E3E4024E17B7F8336544020B1C1C2491E3E4040BCE7C0723654404073BA2C261E3E4030685A626536544090ACE0B7211E3E404CAB5AD251365440B0C4758C2B1E3E407CFF1F274C36544090ACE0B7211E3E4084ED60C43E36544070764F1E161E3E4070DC9BDF3036544040E33444151E3E40C097FBE42836544090AAD1AB011E3E40C0C804FC1A365440D0FFE4EFDE1D3E4014ECF82F1036544010037AE1CE1D3E403C2EE3A606365440C0C7444AB31D3E40CC4FE3DEFC355440A08FA4A4871D3E40E00C37E0F335544070217365501D3E4034C896E5EB355440D0AA0837191D3E404C72F90FE9355440A0AE601BF11C3E40641C5C3AE635544010250516C01C3E40D893F947DF35544050088F368E1C3E40941B7E37DD35544040D0EE90621C3E40B8D7BB3FDE35544030ECDB49441C3E40A082FC6CE4355440F092AAED261C3E4044B5C189E835544010D0285DFA1B3E40541C40BFEF35544080B8567BD81B3E4070EA3C2AFE355440300B98C0AD1B3E4050EA043411365440302785798F1B3E405C51836918365440A0F1B6D26B1B3E400097395D16365440B0681EC0221B3E4000C842740836544050847F11341A3E408082C476F735544070C1FD80071A3E40E8FA777DE635544000503750E0193E40FC4F3750E0355440104E2844C0193E40203D7E6FD335544090FA5DD89A193E404CE7FC14C735544010C58F3177193E40984DB9C2BB35544010E17CEA58193E4018083BC5AA35544050C6151747193E40BC7EFACF9A355440D0F7C5A52A193E40B4D4B3209435544090A99F3715193E40187D3ECA883554407086FF7403193E4014C138B874355440E05240DAFF183E40F8F23B4D6635544050C2F7FE06193E4094BFB4A84F35544030A1664815193E40B002B5183C35544060A4FB3905193E405C23BBD232355440B04D9CDCEF183E408C8A71FE2635544050DEE4B7E8183E4068FF3C0D18355440F0D5ABC8E8183E40F076F69507355440B04D9CDCEF183E40D86531B1F9345440107EC68503193E400CBAF605F4345440A0F221A81A193E408486376BF0345440D07C40A033193E40D0ECF318E5345440D0805EB873193E402CBA2EFCE034544030F224E99A193E401C53B0C6D9345440B043E048A0193E4084FB3A70CE345440E046753A90193E4090A6B393C1345440A07DC9C683193E40DC0C7041B6345440000B7DB08C193E4040B5FAEAAA345440705C381092193E4030616D8C9D345440705C381092193E408C5FB1868B34544050B41D5377193E401846B3B27D345440609F1D705D193E40A4CBD42478345440600F98874C193E40F4D4230D6E345440C00DDC813A193E40085779026134544080BFB51325193E40B08DB1135E345440E00792770E193E40B08DB1135E345440402BA226FA183E40B08DB1135E345440F0175E49F2183E40DC88601C5C345440000D535BEA183E401CD9CEF75334544050765089EB183E40DCEDB3CA4C34544050CBF3E0EE183E402C5B24ED46345440509B1C3EE9183E401446EC1340345440600B9755D8183E4038E5435035345440105DC2A1B7183E40A03061342B345440D00391459A183E40BCAAECBB223454404027A1F485183E40D888997D1E345440505C397B67183E40D82478431A345440B04F72874D183E4070A2CF4719345440107E8D2441183E4080BFD18E1B34544020BE30992A183E4054C422861D34544080060DFD13183E4090DCD3D51D34544040634337FB173E4038130CE71A345440000A12DBDD173E4064AA99B51434544010CF2F4AD0173E406C6B44300E345440109F58A7CA173E4054560C5707345440109F58A7CA173E40C8995FCD01345440B0EBC20FCE173E401807D0EFFB335440600856D5CB173E40ECD495CFF233544060A8A78FC0173E40785AB741ED33544010DFFB1BB4173E40C8C72764E733544070AD68739C173E40C06BD097DE3354404024607479173E4060AAD216D733544050342C465D173E40143E9468C933544010DBFAE93F173E4004EA060ABC3354406039ED2939173E406C994528B6335440702EE23B31173E4078F6CE68AB335440D051F2EA1C173E40709A779CA2335440D0CC77F013173E407063EC8497335440E0C16C020C173E40ECCB0BB08F33544030F0879FFF163E40D0B6D3D688335440F0C62DE6E7163E40F42895F08433544050959A3DD0163E404CBBD1C77C335440D0ED42739D163E40B806EFAB72335440308CD82780163E4074F607CA6D335440E09255116E163E4068FED137693354404061C26856163E400018080264335440003868AF3E163E40508578245E335440B0F44C2F31163E40A817B5FB55335440C059BC5818163E406CAED3484B335440F0F3C308E1153E402449490F433354404034D769A4153E4050E0D6DD3C335440C07570B037153E40E4BE0E9C33335440E02B6519E2143E4040BD529621335440306C787AA5143E406C98DA5207335440B036AAD381143E4050CADDE7F8325440103BC5AA41143E403040DB6AD632544020A4198BA6133E40542D228AC9325440E051D50451133E40F8A3E194B932544090B60E0EF6123E40D42B9E7AA432544030274C18CD123E40A8F622DA8E325440A0F38C7DC9123E40F09FA70183325440B06C0377A0123E403493A8177C325440F04598A25C123E4054C6F8307B325440501405FA44123E4054AC53E57B325440509770E82D123E40347903CC7C325440B065DD3F16123E40F43B86C77E32544010344A97FE113E4000EA3F6B7E32544080D1C952EB113E404CD576137C325440D000FBE8D4113E40F09C668176325440F0A4F78DAF113E40ACC0C9367032544040A4518193113E405C3673486A32544060793BC269113E408C4F3A91603254402046EC1340113E40782B84D558325440C090477023113E4044D47D0052325440A0B8551003113E40E881C8224D32544020F62686E4103E406C16687748325440F07EF964C5103E40ECD32AFA43325440802A1900AA103E40782502D53F325440F0C798BB96103E40B4A547533D325440C06D516683103E40BC7C24253D3254408074CE4F71103E40E08651103C3254407088D51F61103E403449658A39325440C0B706B64A103E40A83EC91D3632544010B64AB038103E40E895EB6D3332544020698D4127103E40388122163132544030BB0B9414103E4074E7C2482F325440D052245F09103E40A0E271512D325440306E4E2503103E40082A1C412A325440F074CB0EF10F3E405CEC2FBB27325440A0AB1F9BE40F3E408CBEBB95253254407081AFE8D60F3E40306C06B82032544090A2409FC80F3E40F066463F1A325440403A596ABD0F3E40684D2CF015325440D0025FD1AD0F3E40FC8F85E81032544020329067970F3E409866F3380C325440A06E4BE4820F3E40EC42ACFE0832544010F9D9C8750F3E403080290307325440C090F2936A0F3E406CE6C9350532544060F833BC590F3E40D42D742502325440406DFFCA4A0F3E4034B8E68EFE315440705EB9DE360F3E40B45B04C6FA315440000AD9791B0F3E403419C748F6315440D0C282FB010F3E40707F677BF4315440404D11E0F40E3E4020F5108DEE31544020751F80D40E3E400CD15AD1E6315440B003594FAD0E3E40D87954FCDF31544050AF78EA910E3E405837177FDB315440A0FB8F4C870E3E4094FE976BD131544060D11F9A790E3E402C18CE35CC31544060B439CE6D0E3E406C554B3ACA31544070677C5F5C0E3E40F4E9EA8EC5315440003082C64C0E3E40708D08C6C131544090F8872D3D0E3E40949735B1C031544090DBA161310E3E4028DA8EA9BB31544050E21E4B1F0E3E40DC26158DB531544090A2EBC20F0E3E408C9CBE9EAF31544050787B10020E3E409C8235CEA6315440C0020AF5F40D3E408487A2409F31544080693524EE0D3E40B0A0698995315440F0239BABE60D3E4068EDEF6C8F31544020014EEFE20D3E40241153228931544000C3D66CE50D3E4064C9552C7E315440F0239BABE60D3E40587C7C4276315440B01611C5E40D3E401877BCC96F315440500FEECEDA0D3E406CB4554964315440F0A6069ACF0D3E402C95F0845E31544050C23060C90D3E40C0D7497D59315440B0DD5A26C30D3E40649F39EB53315440A0213999B80D3E40341F10E84C31544090522635B40D3E40F819506F4631544010ACC77DAB0D3E40AC66D65240315440B043E048A00D3E402494F77134315440D06471FF910D3E40B0605452273154403050C422860D3E4024A81ABD1A315440702D7766820D3E40443C4B90113154402094A2957B0D3E40E08D3EE603315440F0395B40680D3E40B8FE9600FC30544050389F3A560D3E405CACE122F730544030AD6A49470D3E406CACFD9DED305440506E4DBA2D0D3E40B8F81400E330544090CE6BEC120D3E4058E9279CDD305440D05E61C1FD0C3E40FC9672BED8305440305DA5BBEB0C3E40D407CBD8D0305440F0323509DE0C3E40A86DFC89CA30544060ED9A90D60C3E40445E0F26C530544070BDC3EDD00C3E40ACBF5E61C1305440A09A7631CD0C3E4050874ECFBB30544070A0DD21C50C3E402016A3AEB5305440304696CCB10C3E406844A2D0B2305440205A9D9CA10C3E4074F25B74B2305440D0F1B567960C3E406C1B7FA2B230544030F0F961840C3E4074F25B74B2305440C09B19FD680C3E409CD36531B13054409041D2A7550C3E40041B1021AE30544000AF7AC03C0C3E4070533C2EAA30544030705D31230C3E402C779FE3A33054402037A792010C3E40CC4D0D349F305440308925E5EE0B3E404434F3E49A305440A026A5A0DB0B3E40042F336C94305440D0E78711C20B3E40CCE6AA798E3054408001F6D1A90B3E4020C3633F8B30544080E525FF930B3E406CD7BD15893054400022E17B7F0B3E406CD7BD1589305440E096AC8A700B3E4048CD902A8A305440C00B7899610B3E40A405A1BC8F3054407012F5824F0B3E403CBEF6CC92305440C071FDBB3E0B3E4030F697DD93305440E062B7CF2A0B3E4034E719FB9230544060ED45B41D0B3E4080FB73D1903054402093FE5E0A0B3E40C038F1D58E305440C03E1EFAEE0A3E403C1FD7868A30544090F7C77BD50A3E403880B7408230544040E15E99B70A3E40448F519E7930544020096D39970A3E40F404FBAF73305440004E61A5820A3E40F065DB696B305440C067CF656A0A3E40AC893E1F65305440D0B94DB8570A3E40A41342075D305440B02E19C7480A3E40F8D555815A30544090A3E4D5390A3E4004840F255A305440B078CE16100A3E40DCA205685B305440E035936FB6093E40DC88601C5C305440005114E813093E40C803CAA65C3054404027A1F485083E40F4E4D3635B30544060185B0872083E40287497C459305440C0990AF148083E404C7EC4AF5830544000AD6BB41C083E40582C7E535830544040207BBDFB073E4018EF004F5A305440A0DBF63DEA073E40D0DAA6785C30544070B1868BDC073E4054F4C0C760305440E01E2FA4C3073E40F8BEF1B567305440105B971AA1073E4020683EE76E30544080BE4A3E76073E40E04B1AA37530544070DA37F757073E405009C1AA7A305440E047E00F3F073E4004DBC1887D30544020D8D5E429073E40A46AF46A80305440601B0E4B03073E40A46AF46A8030544030A4E029E4063E40B018AE0E80305440B05016BEBE063E40BCC667B27F305440C0B69BE09B063E403493A8177C3054406001F73C7F063E40A4CBD42478305440B03028D368063E4010EA5BE674305440209ED0EB4F063E40043CA24275305440E087670932063E40E03175577630544030B7989F1B063E40705A29047230544060478E7406063E403455698B6B305440A0075BECF6053E40EC78CC4065305440D0B4368DED053E40E802D0285D305440D09750C1E1053E40E0A6785C543054403083A3E4D5053E40B4264F594D305440A0F04BFDBC053E407407EA9447305440201137A792053E40083411363C30544000EA78CC40053E4054965AEF37305440A0DD3EABCC043E40A0819197353054406097FE25A9043E40F0866D8B323054402020D1048A043E40F0866D8B32305440B0FCDD3B6A043E4014919A763130544010CB4A9352043E40740168942E30544070C98E8D40043E40C40644882B305440009294F430043E4038FCA71B28305440906D8B321B043E40986C753925305440A0F0F62004043E407075392520305440C01875ADBD033E40440FB56D183054401059880E81033E40045471E316305440601421753B033E409475711B0D305440105471E316033E409CB855100330544020AFEB17EC023E401C42CEFBFF2F5440600DFB3DB1023E4020C87A6AF52F5440A0DD938785023E40ECD1544FE62F5440403CF6B358023E40F8E0EEACDD2F5440D0E7154F3D023E40AC2D7590D72F5440E03AAA9A20023E40A0E09BA6CF2F544060FAD005F5013E409093C2BCC72F5440B0DD5A26C3013E403C328FFCC12F5440D0CE143AAF013E40B4795567B52F5440403CBD5296013E403CC478CDAB2F5440608330B77B013E40ACE67283A12F544040548CF337013E4068D68BA19C2F54400076E09C11013E40F4F78BD9922F54402043E4F4F5003E40C8C210397D2F5440406475ABE7003E4090F50D4C6E2F5440006ADC9BDF003E40FC5AD07B632F544070F58079C8003E40140533A6602F5440406B6281AF003E40680E828E562F5440D0E6AA798E003E40C898F4F7522F54404009A52F84003E40948B6A11512F5440908593347F003E4030E09EE74F2F54402016DC0F78003E408C156EF9482F5440309947FE60003E40D87B2AA73D2F5440502A53CC41003E40A8586E69352F544040514B732B003E403C24B550322F5440601E4FCB0F003E40E4BE0E9C332F5440C0A9F3A8F8FF3D40408C497F2F2F54403004ABEAE5FF3D4068CE33F6252F5440C0B2EF8AE0FF3D40BCF1272A1B2F54407079C9FFE4FF3D40200247020D2F54402040A374E9FF3D401889096AF82E5440B0D0EB4FE2FF3D40F410C64FE32E54402040A374E9FF3D4048FD2E6CCD2E5440608EC9E2FEFF3D4038DAAA24B22E54408036E49F19003E408C2EA86F992E5440B04E797423003E40B08383BD892E54408036E49F19003E40503D0B42792E54401055A35703003E40F0B3CA4C692E544010E31934F4FF3D40782B84D5582E544010E31934F4FF3D409C18CBF44B2E5440B0C7EF6DFAFF3D400C3BC5AA412E5440308B34F10E003E4058A18158362E54408036E49F19003E40587DE717252E544010DC2C5E2C003E40085B25581C2E5440A0DEFE5C34003E406428603B182E5440E0660E492D003E40B47B2B12132E54409018E8DA17003E40C026A435062E544040583849F3FF3D407004E275FD2D54409028D192C7FF3D40649D6340F62D5440A0F5D4EAABFF3D407035EB8CEF2D5440E068E4F38AFF3D40EC69C020E92D544070E42CEC69FF3D40F8ACA415DF2D54400003ECA353FF3D4008ADC090D52D544060999B6F44FF3D40D43461FBC92D54408048A30227FF3D4024F0C000C22D5440502EFF21FDFE3D40DC7745F0BF2D544010CBD8D0CDFE3D405C9929ADBF2D5440609B711AA2FE3D40B4666490BB2D5440E047A7AE7CFE3D406C994528B62D5440106938656EFE3D406C32E36DA52D5440B054FB743CFE3D40A843E048A02D5440405EBA490CFE3D40F8FE3F4E982D5440D0F5EFFACCFD3D4048BA9F53902D5440C0AA5E7EA7FD3D4098205C01852D5440608D25AC8DFD3D405CEBC4E5782D5440203FFF3D78FD3D40A4FCDD3B6A2D5440D0934F8F6DFD3D40D0A65CE15D2D5440B05DBEF561FD3D40601D0071572D544050D00A0C59FD3D40D8E940D6532D544060880E8123FD3D40D03FFA264D2D544070E388B5F8FC3D402093C5FD472D5440E0E9B298D8FC3D40B0B4C5353E2D5440F0B6B6F0BCFC3D403CD6C56D342D5440D0802557B1FC3D40883C821B292D5440502F6AF7ABFC3D40442C9B39242D5440609FE40E9BFC3D40BCF8DB9E202D5440706CE8667FFC3D406C6E85B01A2D544000062D2460FC3D402409FB76122D54401076A73B4FFC3D40906EBDA6072D5440609ACDE330FC3D40404CFBE6FE2C5440503140A209FC3D40D06DFB1EF52C5440C0B0E07EC0FB3D40DC05836BEE2C5440707EA7C98CFB3D402C6C3F19E32C544020BEF73768FB3D400006BB61DB2C5440A088299144FB3D40B4389CF9D52C544020CEE0EF17FB3D40F09E3C2CD42C5440106553AEF0FA3D4088D21742CE2C5440B06516A1D8FA3D40545AB8ACC22C5440C0A4A31CCCFA3D40DCBE805EB82C5440902F8507CDFA3D4028253D0CAD2C544040F65E7CD1FA3D40F86915FDA12C544050BA66F2CDFA3D40C0892139992C5440008A3C49BAFA3D40E0F0BBE9962C5440308DD13AAAFA3D400058569A942C5440302444F982FA3D4030AC1BEF8E2C5440C04203B16CFA3D40C422BF7E882C5440A00C721761FA3D403445B9347E2C54405043C6A354FA3D4028DE3AFF762C5440A07CEC2E50FA3D4030211FF46C2C544060A04FE449FA3D4010CD751A692C544010F59F353FFA3D404C33164D672C5440D0887D0228FA3D40A04319AA622C544060A73CBA11FA3D40542157EA592C544060923CD7F7F93D4024533E04552C5440F0B0FB8EE1F93D40A08713984E2C5440F0B9F770C9F93D404CA81952452C5440C0B45373B9F93D40D4747632382C5440D011DDB3AEF93D4068EB19C2312C5440D08157CB9DF93D405CD93EE42D2C5440F04E5B2382F93D40B0949EE9252C5440C021C66B5EF93D40E8A59BC4202C544090B3942C27F93D4074C79BFC162C5440A08098840BF93D4028A5D93C0E2C544060327216F6F83D40183E5B07072C5440708DEC4ACBF83D4098C7D3F2032C5440F0421EC18DF83D4070B6F292FF2B544010DD257156F83D40F4C517EDF12B544090A757CA32F83D40DCB45208E42B544030B1169F02F83D40BC91B245D22B544090C03C64CAF73D40C47FF3E2C42B5440408E03AF96F73D40143B53E8BC2B5440902BA0504FF73D40443A75E5B32B5440D00B2252D3F63D4018D4F02DAC2B54400016A4198BF63D40A4F5F065A22B5440805B5B785EF63D40486CB070922B54406041B79734F63D4030F3565D872B5440804D486B0CF63D40109FAD83832B5440B0DE5339EDF53D4010D0B69A752B544080EBA7FFACF53D4004D1CC936B2B5440F0D3D51D8BF53D400C14B188612B544080F294D574F53D40E89B6D6E4C2B54401083DDB06DF53D40F833F5BA452B5440506876DD5BF53D408CAA984A3F2B544060357A3540F53D407044300E2E2B544080E481C822F53D402C6552431B2B544060AEF02E17F53D40F0974F560C2B544000B1C22D1FF53D40A863CE33F62A5440F0CEBEF220F53D406884F068E32A5440A095986725F53D4048B6F3FDD42A5440F05339ED29F53D40E8D70FB1C12A544000B1C22D1FF53D40F0C5504EB42A5440A00E0F61FCF43D40943C1059A42A5440A00E0F61FCF43D40A43C2CD49A2A544030965B5A0DF53D40305E2C0C912A544050CCECF318F53D407807B133852A5440F0CEBEF220F53D40448F519E792A544090410B0918F53D4088E3326E6A2A5440A00E0F61FCF43D40742711E15F2A5440400FD253E4F43D40E4490B97552A5440B0698995D1F43D40EC374C34482A5440D02D910BCEF43D400CD0EFFB372A544040F1D58EE2F43D409C5984622B2A5440400FD253E4F43D40287B849A212A5440E0811E6ADBF43D4048132862112A5440C0C403CAA6F43D4078124A5F082A54404001BF4692F43D4044EF8D21002A5440301FBB0B94F43D40E8654D2CF02954407019541B9CF
[...]
